.skin-fireguard {

  /* Tables*/
  tr.row-dynamic-table {
    td:active, td:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
  }
  .content-wrapper {
    background-color: $body-bg;
  }
  .bg-active {
    background-color: $active-color;
  }

  .main-header {
    .navbar {
      background-color: $primary-color;

      .nav > li > a {
        color: #ffffff;
      }

      .nav > li > a:hover,
      .nav > li > a:active,
      .nav > li > a:focus,
      .nav .open > a,
      .nav .open > a:hover,
      .nav .open > a:focus,
      .nav > .active > a {
        background: rgba(0, 0, 0, 0.1);
        color: #f6f6f6;
      }

      .sidebar-toggle {
        color: #FFFFFF;
        padding: 14px 14px;
      }
      .sidebar-toggle:hover {
        color: $primary-color;
        background-color: #FFFFFF;
      }

      @media (max-width: 767px) {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255, 255, 255, 0.1);
          }
          li a {
            color: #fff;
          }
          li a:hover {
            background: $active-menu;
            color: #FFFFFF;
          }
        }
      }
    }
    .user-menu {
      .user-image {
        margin-right: 0;
      }
      ul.dropdown-menu {
        margin-top: 10px;
        li.user-header {
          background-color: $primary-color;
        }
      }
    }
  }

  .main-header .logo, .logo {
    background-color: $primary-color;
    color: #ffffff;
    font-size: 20px;

    .logo-lg {
      display: flex;
      justify-content: center;

      .logo-text {
        text-align: left;
        float: left;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding-left: 5px;
        line-height: 0.6;
        padding-top: 14px;

        .logo-title {
          font-weight: bold;
          font-style: normal;
          font-size: 17px;
        }

        .logo-subtitle {
          font-size: 9px;
          font-style: italic;
        }
      }
    }
  }
  .content-header {
    background: transparent;
  }
  
  @media (max-width: ($screen-sm - 1)) {
    .main-sidebar, .left-side {
      padding-top: 52px;
    }
  }

  .wrapper, .main-sidebar, .left-side {
    background-color: $body-bg;
    border-right: 1px solid #e4e4e4;
  }

  .user-panel {
    background-color: $body-bg;
    color: #FFFFFF;
    //border: 1px solid #FFFFFF;
  }

  .user-panel img {
    background-color: $active-color;
  }

  .user-panel > .info, .user-panel > .info > a {
    color: $text-color;
  }

  .sidebar-menu > li.header {
    color: $text-color;
    background: $primary-color;
  }

  .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    color: $text-color;
  }

  .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #FFFFFF;
    background: $primary-color;
    border-left-color: $active-color;
  }
  .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    //background: $active-menu;
  }

  .sidebar {
    a {
      color: #b8c7ce;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .treeview > ul.treeview-menu {
    background-color: $body-bg;
  }
  .treeview-menu > li > a {
    color: $text-color;
  }
  .treeview-menu > li.active > a, .treeview-menu > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: $active-color;
  }

  .sidebar-form {
    border-radius: 3px;
    border: 1px solid $primary-color;
    margin: 10px 10px;

    input[type="text"], .btn {
      box-shadow: none;
      background-color: $body-bg;
      border: 1px solid transparent;
      height: 35px;
    }

    input[type="text"] {
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
    }

    input[type="text"]:focus, input[type="text"]:focus + .input-group-btn .btn {
      background-color: #fff;
      color: #666;
    }

    input[type="text"]:focus + .input-group-btn .btn {
      border-left-color: #fff;
    }

    .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}

.skin-fireguard.layout-top-nav .main-header > .logo {
  background-color: $primary-color;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.skin-fireguard.layout-top-nav .main-header > .logo:hover {
  background-color: $primary-color;
}

.skin-fireguard .login-box, .skin-fireguard  .register-box {
  width: 480px;
  margin: 7% auto;
}

.skin-fireguard .login-box .login-box-body form {
  padding: 20px;
}

.skin-fireguard .modal .box {
  box-shadow: none;
}

/* Select 2*/
.select2-container {
  .select2-selection--single {
    .select2-selection__rendered {
      display: inline;
    }
  }
}

